include MANIFEST.in
include requirements.txt
include *.json
include *.md
include *.py
include *.txt
recursive-include ecommerce_integrations *.css
recursive-include ecommerce_integrations *.csv
recursive-include ecommerce_integrations *.html
recursive-include ecommerce_integrations *.ico
recursive-include ecommerce_integrations *.js
recursive-include ecommerce_integrations *.json
recursive-include ecommerce_integrations *.md
recursive-include ecommerce_integrations *.png
recursive-include ecommerce_integrations *.py
recursive-include ecommerce_integrations *.svg
recursive-include ecommerce_integrations *.txt
recursive-exclude ecommerce_integrations *.pyc